@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mynerve', sans-serif;
}

.bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    opacity: 0.4;
}

.container, .title, .choices, .card-circle, .score-board, .score, .name, #player-score, #computer-score, .play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex-direction: column;
    height: 30%;
    z-index: 5;
    color: aliceblue;
    justify-content: flex-start;
}

.title h1 {
    font-size: 3rem;
    margin-top: 4rem;
    transition: 0.175s ease-in;
    color: #F6F4EB;
}

.title span {
    font-size: 2rem;
}

.container {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color:rgb(115, 64, 27);
    position: relative;
}

.choices {
    flex-direction: row;
    height: 50%;
    width: 100%;
    gap: 3rem;
    transition: all 0.5s ease-in;
    z-index: 5;
}

.card-circle {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 228, 196, 0.5);
    transition: 
        all 0.175s ease-in-out,
        transform 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card-circle img {
    width: 50%;
    opacity: 0.8;
    transition: all 0.175s ease-in-out;
}

.card-circle:hover {
    background-color: rgba(255, 228, 196, 0);
    transform: scale(0.8);
    box-shadow: none;
}

.card-circle:hover img {
    transform: scale(1.5);
}

.card-circle:active img {
    transform: scale(1.4);
}

.card-circle:first-child img {
    width: 60%;
}

.shrink-circles .card-circle {
    transform: scale(1);
}

.score-board {
    flex-direction: row;
    width: 100%;
    height: 20%;
    align-items: flex-start;
    gap: 50%;
    z-index: 5;
    transition: all 1s ease-in-out;
}

.show-score-board {
    gap: 2rem;
}

.show-score-board .score {
    width: 20rem;
    opacity: 1;
}

.score {
    width: 0rem;
    opacity: 0;
    height: 80%;
    border: 2px solid thistle;
    position: relative;
    transition: all 0.5s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.player {
    border-radius: 5rem 1rem 1rem 5rem;
}

.computer {
    border-radius: 1rem 5rem 5rem 1rem;
}

.name {
    padding: 0.5rem 2rem;
    position: absolute;
    background-color: blanchedalmond;
    border-radius: 2rem;
    color: darkslategray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.score span {
    font-size: 2rem;
    font-weight: 400;
}

.computer .name {
    right: -9.5rem;
}

.player .name {
    left: -8rem;
}

#player-score, #computer-score {
    width: 50%;
    height: 70%;
    background-color: rgba(231, 196, 152, 0.5);
    border-radius: 3rem;
    position: absolute;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#player-score {
    right: 1rem;
}

#computer-score {
    left: 1rem;
}

.play {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    flex-direction: column;
    transition: all 0.175s ease-in;
    transform: scale(0);
    opacity: 0;
}

.play h1 {
    z-index: 5;
    font-size: 3rem;
    color: antiquewhite;
}

.play .bg {
    opacity: 1;
}

.play button {
    z-index: 5;
    background-color: rgba(245, 245, 220, 0.7);
    padding: 0.6rem 3rem;
    margin-top: 3rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51, 80, 80);
    transition: 
        transform 1.5s ease-in-out,
        padding 0.175s ease-in-out,
        background-color 0.175s ease-in-out,
        letter-spacing 0.175s ease-in-out;
    transform: scale(0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 15px, 
                rgba(0, 0, 0, 0.2) 0px 10px 8px;
}

#play-again-header {
    font-size: 1rem;
    transition: all 1s ease-in-out;
    color: #F6F4EB;
}

.play button:hover {
    background-color: rgba(245, 245, 220, 1);
    color: rgb(21, 47, 47);
    padding: 0.6rem 3.1rem;
    letter-spacing: 0.1rem;
}

.container .play {
    transition: all 1s ease-out;
}

.play-again {
    transform: scale(1) !important;
    opacity: 1 !important;
    z-index: 100 !important;
}

.play-again button{
    transform: scale(1) !important;
}

.play-again #play-again-header {
    font-size: 3rem !important;
}